<h3 class="form-header">{{localize "HI.featureSubtypes.boon"}}</h3>
<div class="property flexrow">
  <label class="property-label">{{localize "HI.ui.isbonusdice"}}</label>
  <input
    class="field-value"
    type="checkbox"
    name="system.properties.isbonusdice"
    {{checked item.system.properties.isbonusdice}}
  />
</div>