<div class="property flexrow">
    <label class="property-label">{{localize "BOL.ui.subtype"}}</label>
    <select name="system.subtype" value="{{item.system.subtype}}" data-dtype="String">
        {{#select item.system.subtype}}
            {{#each config.featureSubtypes as |item id|}}
                <option value="{{id}}">{{localize item}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

{{#if (equals item.system.subtype "career")}}
    {{> "systems/hi-fvtt/templates/item/parts/properties/feature/career-properties.hbs"}}
{{/if}}
{{#if (equals item.system.subtype "fightoption")}}
    {{> "systems/hi-fvtt/templates/item/parts/properties/feature/fightoption-properties.hbs"}}
{{/if}}
{{!#if (equals data.subtype "race")}}
    {{!> "systems/hi-fvtt/templates/item/parts/properties/feature/race-properties.hbs"}}
{{!/if}}
{{#if (equals item.system.subtype "boon")}}
    {{> "systems/hi-fvtt/templates/item/parts/properties/feature/boon-properties.hbs"}}
{{/if}}
{{#if (equals item.system.subtype "flaw")}}
    {{> "systems/hi-fvtt/templates/item/parts/properties/feature/flaw-properties.hbs"}}
{{/if}}
{{#if (equals item.system.subtype "boleffect")}}
    {{> "systems/hi-fvtt/templates/item/parts/properties/feature/effect-properties.hbs"}}
{{/if}}
{{#if (equals item.system.subtype "horoscope")}}
    {{> "systems/hi-fvtt/templates/item/parts/properties/feature/horoscope-properties.hbs"}}
{{/if}}
