<ol class="items-list">
  <li class="item flexrow item-header">
    <div class="item-name flex4 left">{{localize "HI.ui.biodescription"}}</div>
    <div class="item-field flex1 right"></div>
  </li>
</ol>

{{editor
  description
  target="system.description"
  button=true
  owner=owner
  editable=editable
}}