    <div class="flexrow" style="margin-bottom: 1px;">
        <div class="flex1 center bg-darkred">
            <label for="adv">{{localize 'HI.ui.bonusmalus'}}</label>
        </div>
        <div class="flex1 center cell">
            <input type="radio" class="bdice" name="adv" value="1" {{#if (eq adv "1B")}}checked{{/if}}/>+1dB<br />
            <input type="radio" class="bdice" name="adv" value="2" {{#if (eq adv "2B")}}checked{{/if}}/>+2dB<br />
            <input type="radio" class="bdice" name="adv" value="0" {{#if (eq adv "0")}}checked{{/if}}/>0<br />
            <input type="radio" class="mdice" name="adv" value="1" {{#if (eq adv "1M")}}checked{{/if}}/>+1dM<br />
            <input type="radio" class="mdice" name="adv" value="2" {{#if (eq adv "2M")}}checked{{/if}}/>+2dM<br />
        </div>
    </div>
    
    {{#if attackBonusDice}}
    <div class="flexrow" style="margin-bottom: 1px;">
      <label class="flex-group-center">{{localize 'HI.ui.weaponbonus'}}</label>
    </div>
    {{/if}}
    