<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <div class="row flexrow table-header">
            <div class="flex1 center">
                <h3>{{localize 'HI.ui.attributeCheck'}}</h3>
            </div>
        </div>
    </header>

    {{> "systems/hi-fvtt/templates/dialogs/attribute-roll-part.hbs"}}

    {{> "systems/hi-fvtt/templates/dialogs/career-roll-part.hbs"}}

    {{> "systems/hi-fvtt/templates/dialogs/boons-roll-part.hbs"}}

    {{> "systems/hi-fvtt/templates/dialogs/flaws-roll-part.hbs"}}

    {{> "systems/hi-fvtt/templates/dialogs/effect-roll-part.hbs"}}

    {{> "systems/hi-fvtt/templates/dialogs/horoscope-roll-part.hbs"}}

    {{> "systems/hi-fvtt/templates/dialogs/adv-roll-part.hbs"}}

    {{> "systems/hi-fvtt/templates/dialogs/mod-roll-part.hbs"}}

    {{> "systems/hi-fvtt/templates/dialogs/total-roll-part.hbs"}}

</form>